<header>
  <mat-card class="searchbar">
    <mat-card-content class="searchbar__content">

      <select class="categorylist">
        <option>Breakfast</option>
        <option>Dinner</option>
        <option>Lunch</option>
      </select>

      <input class="search" type="text" placeholder="Ex: Breakfast">
      <button>Search</button>


    </mat-card-content>
  </mat-card>
</header>



<main class="body grid">

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Fried Rice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cardImg">
      <img class="cardImg" src="./assets/FriedRice.jpg" alt="image">
    </div>

    <div class="bio">
      <span>Category Breakfirst</span>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">See More..</button>
  </mat-card-actions>
</mat-card>

</main>

<footer>
  <span>@Cooker AllRight Reserved</span>
</footer>
